body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: linear-gradient(#a0d2eb, #d0bdf4, #8458b3);
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}
header {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
}

p {
  margin-top: -20px;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}
form button {
  color: #494d5f;
  background: #ffffff;
  cursor: pointer;
  transition: all 0.3s ease;
}
form button:hover {
  background: #8458b3;
  color: white;
}
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: white;
  font-size: 1.5rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}
.filter-todo {
  padding: 1rem;
}
.todo li {
  flex: 1;
}

.trash-btn,
.complete-btn,
.edit-btn {
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.complete-btn {
  background: #51d0de;
}
.trash-btn {
  background: red;
}
.edit-btn {
  background: #393f4d;
}

.complete-btn:hover {
  background: rgb(11, 185, 11);
}
.trash-btn:hover {
  background: rgb(11, 185, 11);
}
.edit-btn:hover {
  background: rgb(11, 185, 11);
}

.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check,
.fa-user-edit {
  pointer-events: none;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
.todo-input {
  margin-left: 38px;
}
